<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    {{> navigation}}
    <p>{{welcomeMessage}}</p>
    <h2>Welcome To Home</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil quis fugiat sapiente nisi in amet at nulla saepe. Sed ex voluptatibus reprehenderit delectus quaerat iure, aut voluptates accusamus, velit adipisci labore culpa, reiciendis nisi? Sequi perferendis aliquid magnam debitis quo voluptas ipsum earum sint, alias eveniet laudantium neque ipsam molestiae blanditiis et vitae dolor nisi commodi quam at reprehenderit rerum! Natus culpa, id accusamus nam quas cupiditate beatae necessitatibus illum harum, est voluptatum, architecto autem praesentium ipsum nulla ea exercitationem ipsa suscipit expedita accusantium impedit! Quo iste pariatur in architecto nam! Tempore tempora maiores in nulla dolore nihil eius natus!</p>
    {{> footer}}
</body>
</html>