<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
</head>
<body>
    <h1>My Projects</h1>
    {{> navigation}}
    <p>This is list of some of my cool projects</p>
    <div>
        <h2>Project 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi optio ipsum pariatur.</p>
    </div>
    <div>
        <h2>Project 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi optio ipsum pariatur.</p>
    </div>
    <div>
        <h2>Project 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi optio ipsum pariatur.</p>
    </div>
    {{> footer}}
</body>
</html>